In [1]:
#class imbalance >> when one class has higher percentage
#handle:
#upsampling
#downsampling 
#SMOTE

In [3]:
import pandas as pd
import numpy as np

np.random.seed(1) #for reproducibility of result

no_samples = 1000
class_0_ratio = 0.9
no_class_0 = int(no_samples*class_0_ratio)
no_class_1 = 100

In [9]:
no_class_0,no_class_1

(900, 100)

In [19]:
#
class_0={"f1":np.random.normal(0,1,no_class_0),# mean 0 standard deviation 1
"f2":np.random.normal(0,1,no_class_0),
        "target":[0]*no_class_0}
class_0=pd.DataFrame(class_0)
class_0

           f1        f2  target
0   -0.453503 -0.098819       0
1   -0.820905 -0.270149       0
2    0.940219  1.745068       0
3   -1.411293 -0.180558       0
4    0.884148 -0.202378       0
..        ...       ...     ...
895 -1.140488  0.747622       0
896  0.501016  0.943634       0
897  0.225767 -0.425562       0
898 -1.089087  0.805778       0
899  1.280058  0.056853       0

[900 rows x 3 columns]

In [25]:
class_1={"f1":np.random.normal(3,1,no_class_1),  # mean 3 standard deviation 1 
"f2":np.random.normal(3,1,no_class_1),
        "target":[1]*no_class_1}
class_1=pd.DataFrame(class_1)
class_1

          f1        f2  target
0   3.135075  2.075245       1
1   3.968622  4.128890       1
2   2.905683  1.871209       1
3   2.052372  2.275262       1
4   2.765708  3.623571       1
..       ...       ...     ...
95  4.604546  2.418320       1
96  3.566613  2.991877       1
97  2.224012  2.422294       1
98  4.084889  4.634844       1
99  5.241989  3.895244       1

[100 rows x 3 columns]