In [1]:
#class imbalance >> when one class has higher percentage
#handle:
#upsampling
#downsampling 
#SMOTE

In [3]:
import pandas as pd
import numpy as np

np.random.seed(1) #for reproducibility of result

no_samples = 1000
class_0_ratio = 0.9
no_class_0 = int(no_samples*class_0_ratio)
no_class_1 = 100

In [9]:
no_class_0,no_class_1

(900, 100)

In [19]:
# standard deviation >> most of the value (68%) is in range -1 to 1 if mean is 0 
class_0={"f1":np.random.normal(0,1,no_class_0),# mean 0 standard deviation 1
"f2":np.random.normal(0,1,no_class_0),
        "target":[0]*no_class_0}
class_0=pd.DataFrame(class_0)
class_0

           f1        f2  target
0   -0.453503 -0.098819       0
1   -0.820905 -0.270149       0
2    0.940219  1.745068       0
3   -1.411293 -0.180558       0
4    0.884148 -0.202378       0
..        ...       ...     ...
895 -1.140488  0.747622       0
896  0.501016  0.943634       0
897  0.225767 -0.425562       0
898 -1.089087  0.805778       0
899  1.280058  0.056853       0

[900 rows x 3 columns]

In [25]:
class_1={"f1":np.random.normal(3,1,no_class_1),  # mean 3 standard deviation 1 
"f2":np.random.normal(3,1,no_class_1),
        "target":[1]*no_class_1}
class_1=pd.DataFrame(class_1)
class_1

          f1        f2  target
0   3.135075  2.075245       1
1   3.968622  4.128890       1
2   2.905683  1.871209       1
3   2.052372  2.275262       1
4   2.765708  3.623571       1
..       ...       ...     ...
95  4.604546  2.418320       1
96  3.566613  2.991877       1
97  2.224012  2.422294       1
98  4.084889  4.634844       1
99  5.241989  3.895244       1

[100 rows x 3 columns]

In [29]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [33]:
df.target.value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [51]:
# upsampling 
df_minor=df[df["target"]==1]
df_major=df[df["target"]==0]

In [57]:
#replace >> if replace is true, it means data point can be repeated
from sklearn.utils import resample
df_minority_upsampled = resample(df_minor, replace = True, n_samples= len(df_major), random_state = 1)

In [61]:
df_minority_upsampled

           f1        f2  target
937  1.972435  2.189412       1
912  3.082419  3.117620       1
972  1.965749  2.604094       1
909  1.695734  3.693304       1
975  4.772187  3.823682       1
..        ...       ...     ...
936  4.553357  1.521747       1
998  4.084889  4.634844       1
901  3.968622  4.128890       1
932  2.248826  2.108890       1
930  2.057429  2.203454       1

[900 rows x 3 columns]

In [65]:
df_upsampled=pd.concat([df_major,df_minority_upsampled])

In [67]:
df_upsampled

           f1        f2  target
0   -0.453503 -0.098819       0
1   -0.820905 -0.270149       0
2    0.940219  1.745068       0
3   -1.411293 -0.180558       0
4    0.884148 -0.202378       0
..        ...       ...     ...
936  4.553357  1.521747       1
998  4.084889  4.634844       1
901  3.968622  4.128890       1
932  2.248826  2.108890       1
930  2.057429  2.203454       1

[1800 rows x 3 columns]

In [77]:
# down scaling
df_major_downsampled=resample(df_major,replace=False,n_samples= len(df_minor), random_state = 1)

In [81]:
df_downscaled=pd.concat([df_major_downsampled,df_minor])
df_downscaled.target.value_counts()

target
0    100
1    100
Name: count, dtype: int64

In [ ]:
# SMOTE >> synthetc minority oversampling technique
from sklearn.datasets import make_calssification
make_calssification(n_samples=100,n_reductand=0,n_features=2,n_clusters_per_calss=1,weight=[0.90])