In [3]:
text_content = """
example1 
example2
example3
"""

In [5]:
with open ("example.txt","w") as f:
    f.write(text_content)

In [7]:
with open("example.txt","r")as f:
    data=f.read()
print(data)

example1
example2
example3

In [9]:
# csv >> comma separated value files 
data=[["name","course","fees"],
      ["piyush","ds","20000"],
      ["mridul","da","15000"]]

In [11]:
import csv
with open("course.csv","w") as f:
    w=csv.writer(f)
    for i in data :
        w.writerow(i)

In [14]:
with open ("course.csv","r") as f:
    r=csv.reader(f)
    for i in r:
        print(i)

['name', 'course', 'fees']
[]
['piyush', 'ds', '20000']
[]
['mridul', 'da', '15000']
[]

In [16]:
# json javascript object nottation 
data={
    "name":"Piyush",
    "course":"ds",
    "fee":"20000"}

In [18]:
import json 
with open("course_json.json","w")as f:
    json.dump(data,f)

In [20]:
with open("course_json.json","r") as f:
    data=json.load(f)
    print(data)

{'name': 'Piyush', 'course': 'ds', 'fee': '20000'}

In [22]:
# binary
with open("test_bin.bin","wb") as f:
    f.write(b"\x48")